<table mat-table class="mat-elevation-z8" [dataSource]="dataSource">
  <ng-container matColumnDef="key">
    <th mat-header-cell *matHeaderCellDef>Key</th>
    <td mat-cell *matCellDef="let element">
      {{ (element.updatedData.value ?? element.originalData.value).key }}
    </td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>Value</th>
    <td mat-cell *matCellDef="let element">
      <span
        [ngClass]="
          element.updatedData.value &&
          element.updatedData.value.value !== element.originalData.value.value
            ? 'diff-value'
            : ''
        "
      >
        {{ (element.updatedData.value ?? element.originalData.value).value }}
      </span>
      <ng-container
        *ngIf="
          element.updatedData.value &&
          element.updatedData.value.value !== element.originalData.value.value
        "
      >
        <span class="mat-caption original-value">{{
          element.originalData.value.value
        }}</span>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="riskScore">
    <th mat-header-cell *matHeaderCellDef>Risk score</th>
    <td mat-cell *matCellDef="let element">
      <span
        [ngClass]="
          element.updatedData.value &&
          element.updatedData.value.riskScore !==
            element.originalData.value.riskScore
            ? 'diff-value'
            : ''
        "
      >
        {{
          (element.updatedData.value ?? element.originalData.value).riskScore
        }}
      </span>
      <ng-container
        *ngIf="
          element.updatedData.value &&
          element.updatedData.value.riskScore !==
            element.originalData.value.riskScore
        "
      >
        <span class="mat-caption original-value">{{
          element.originalData.value.riskScore
        }}</span>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef>Active</th>
    <td mat-cell *matCellDef="let element">
      <span
        [ngClass]="
          element.updatedData.value &&
          element.updatedData.value.active !== element.originalData.value.active
            ? 'diff-value'
            : ''
        "
      >
        {{ (element.updatedData.value ?? element.originalData.value).active }}
      </span>
      <ng-container
        *ngIf="
          element.updatedData.value &&
          element.updatedData.value.active !== element.originalData.value.active
        "
      >
        <span class="mat-caption original-value">{{
          element.originalData.value.active
        }}</span>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="visible">
    <th mat-header-cell *matHeaderCellDef>Visible</th>
    <td mat-cell *matCellDef="let element">
      <span
        [ngClass]="
          element.updatedData.value &&
          element.updatedData.value.visible !==
            element.originalData.value.visible
            ? 'diff-value'
            : ''
        "
      >
        {{ (element.updatedData.value ?? element.originalData.value).visible }}
      </span>
      <ng-container
        *ngIf="
          element.updatedData.value &&
          element.updatedData.value.visible !==
            element.originalData.value.visible
        "
      >
        <span class="mat-caption original-value">{{
          element.originalData.value.visible
        }}</span>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="emitUpdateActionClick(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="emitRevertActionClick(element)"
        *ngIf="element.updatedData.value"
      >
        <mat-icon>history</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>
