<h1>Ello world!</h1>

<button mat-raised-button color="accent" (click)="openCreateDialog()">
  ADD
</button>

<ng-container *ngIf="this.updatedTableDataSource.data.length">
  <mat-slide-toggle [(ngModel)]="showUpdatedDimensionsTable"
    >Show all updated
  </mat-slide-toggle>
  <div>
    You have updated {{ updatedTableDataSource.data.length }} dimension(s).
    <br />
    Toggle the switch above to show only the dimension(s) you've updated.
  </div>
  <div [hidden]="!showUpdatedDimensionsTable">
    <app-dimension-table
      [dataSource]="updatedTableDataSource"
      (updateActionClick)="openUpdateDialog($event)"
      (revertActionClick)="revertChanges($event)"
    >
    </app-dimension-table>
  </div>
</ng-container>

<div [hidden]="showUpdatedDimensionsTable">
  <app-dimension-table
    [dataSource]="originalTableDataSource"
    (updateActionClick)="openUpdateDialog($event)"
    (revertActionClick)="revertChanges($event)"
  >
  </app-dimension-table>
</div>
